body{ font-family: arial,helvetica; }
    h1{ padding: 0 0 0 40px; }

    .container{
      background: lightgrey;
      width:650px;
      margin: 50px auto 0;

      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
      grid-template-rows: repeat(2,150px);

      grid-auto-rows: 80px;
    }

    .item1{ background: orangered;order:2; }
    .item2{ background: yellowgreen;order:4; }
    .item3{ background: MEDIUMPURPLE;order:1; }
    .item4{ background: hotpink;order:5; }
    .item5{ background: royalblue; order:3;}
    .item6{ background: goldenrod;order:6;}

    .items{ color: #fff;font-size: 20px;font-weight: bold;padding: 10px;}