body{ font-family: arial,helvetica; }
    h1{ padding: 0 0 0 40px; }

    .container{
      background: wheat;
      width:80%;
      margin: 45px auto 0;

      display: grid;
      /* grid-template-columns: max-content 1fr 1fr min-content; */
      grid-template-columns: minmax(150px,300px) 1fr 1fr min-content;
      /* grid-template-rows: repeat(2,min-content) ; */
      grid-template-rows: repeat(2,minmax(150px,min-content)) ;
      grid-gap:5px;
    }

    .item1{
      background: orangered;
    }
    .item2{
      background: yellowgreen;
    }
    .item3{
      background: MEDIUMPURPLE;
    }
    .item4{
      background: hotpink;
    }
    .item5{
      background: royalblue;
    }
    .item6{
      background: ORCHID;
    }
    .item7{
      background: goldenrod;
    }
    .item8{
      background: #7DCEA0;
    }
    .items{ color: #fff;font-size: 20px;font-weight: bold;padding: 10px;}