.container{
    background-color: gray;
    width: 700px;
    height: 800px;
    margin: 70px 0 0 50px;
    display: grid;
   /* grid-template-columns: 350px 200px; */
   
   /* grid-template-columns: 350px 200px;
   grid-template-rows: 150px 100px 200px; */



   /* grid-template-columns: 150px 200px 300px;
   grid-template-rows: 150px 100px 200px; */


   /* grid-template-columns: 150px 200px auto;
   grid-template-rows: 150px 100px 200px; */

   /* grid-template-columns: 100px auto 200px;
   grid-template-rows: 150px 100px 200px; */


   /* grid-template-columns:25% 25%;
   grid-template-rows: 150px 100px 200px; */


   /* grid-template-columns:25% 100px auto;
   grid-template-rows: 150px 100px 200px; */

   /* grid-template-columns:1fr 1fr 1fr;
   grid-template-rows: 150px 100px 200px; */

   /* grid-template-columns:1fr 2fr 1fr;
   grid-template-rows: 150px 100px 200px;

   grid-gap: 20px; */

   /* grid-template-columns:repeat(2,200px);
   grid-template-rows: 150px 100px 200px; */

   /* grid-template-columns:repeat(2,200px) 1fr;
   grid-template-rows: 150px 100px 200px; */


   /* grid-template-columns:repeat(2,200px) 1fr;
   grid-template-rows: repeat(2,1fr); */

   grid-template-columns:repeat(2,200px) 1fr;
   grid-template-rows: 1fr 200px;

   grid-gap: 20px;

}
.items1{
    background: orangered;
}
.items2{
    background: yellowgreen;
}
.items3{
    background: slateblue;
}
.items4{
    background: hotpink;
}
.items5{
    background: royalblue;
}
.items6{
    background: goldenrod;
}